body {
  background-color: pink;
  font-family: fantasy;
  text-align: left;
}
h1 {
  color: blueviolet;
  text-align: center;
  font-weight: bolder;
  font-size: 55px;
}
h2 {
  font-style: italic;;
  text-align: center;
  font-family: monospace;
  font-size: 45px;
  line-height: 50px;
}
h3 {
  font-style: normal;
  text-align: center;
  font-family: monospace;
  font-size: 35px;
}
h4{
  font-family: inherit;
  font-weight: normal;
  text-align: left;
  font-size: 25px;
}
p {
  font-family: fantasy;;
  font-weight: lighter;
}
ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}
li {
  font-size: 20px;
  line-height: 30px;
}
a:-webkit-any-link {
    color: yellow;
    text-decoration: underline;
    cursor: auto;
}
